.DS_Store
uploads/**/*.png
uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.gif
uploads/**/*.svg

logo-img/**/*.png
logo-img/**/*.jpg
logo-img/**/*.jpeg
logo-img/**/*.gif
logo-img/**/*.svg

instructor_img/**/*.png
instructor_img/**/*.jpg
instructor_img/**/*.jpeg
instructor_img/**/*.gif
instructor_img/**/*.svg

artwork_img/**/*.png
artwork_img/**/*.jpg
artwork_img/**/*.jpeg
artwork_img/**/*.gif
artwork_img/**/*.svg